.cabecalho {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    padding: 24px 0;
}

.section1{
background-color: crimson;
padding: 100px;
}

.section2{
background-color: blue;
padding: 100px;    
}

.cabecalho-imagem{
    width: 5%;
}