.cabecalho {
    background-image: linear-gradient(black,gray);
    color: #ffffff;
    display: flex;
    padding: 30px;
}

.section1{
background-image: linear-gradient(gray,rgb(65, 65, 65));
padding: 100px;
}

.section2{
background-image: linear-gradient(rgb(65, 65, 65),black);
padding: 100px;    
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: black;
    color: white;
}